body {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

div, p, form, input, button, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
}

p {
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 150px;
    background-color: #999999;
    display: flex;
    align-items: center;
}

.element-label-block {
    max-width: 1170px;
    margin: 0 auto;
}

p.description {
    text-align: center;
}

.image-wrapper {
    display: flex;
    justify-content: space-between;
}

section#first-screen {
    height: 550px;
    background-color: #FFCCAA;
    display: flex;
    align-items: center;
    text-align: center;
}

section#site-description-screen .container {
    background-color: #FFAAAA;
}

#first-screen .element-label-block {
    max-width: 1100px;
}

.label-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.section-header {
    text-align: center;
    padding: 10px;
}

div.site-description {
    height: 300px;
    background-color: #FF5599;
}

.image-wrapper {
    padding: 0 10px 10px;
}

.portfolio-image {
    width: 515px;
    height: 225px;
    background-color: #808080;
}

section#gallery-screen {
    background-color: #808080;
}

.gallery-image {
    width: 360px;
    height: 350px;
    background-color: #9955FF;
}

section#gallery-screen .image-wrapper {
    padding: 0 20px 20px;
}

section#additional-info-screen .container {
    background-color: #FFAAAA;
    padding-bottom: 15px;
}

section#additional-info-screen .section-header {
    padding: 20px;
}

section#additional-info-screen .label-text {
    height: 300px;
    background-color: #F97648;
}

footer {
    height: 400px;
    background-color: #4D4D4D;
    display: flex;
    align-items: center;
    color: #FFF;
}

footer .element-label-block {
    max-width: 1300px;
}