body {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

div, p, form, input, button, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 150px;
    background-color: #999999;
}

header .de {
}

p.description {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

section#first-screen {
    height: 550px;
    background-color: #FFCCAA;
    display: flex;
    align-items: center;
    text-align: center;
}

section#site-description-screen .container {
    background-color: #FFAAAA;
}

p.section-header {
    margin: 10px 0 10px 0;
    text-align: center;
}

div.site-description {
    height: 300px;
    background-color: #FF5599;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.portfolio .wrapper{
   padding: 0 10px 10px;
}

.portfolio-image {
    width: 515px;
    height: 225px;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}